In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
import requests
import time
from config import stock_key

In [2]:
function = 'TIME_SERIES_DAILY'
stock = ['AA','KALU','CENX', 'ACH', 'ARNC']
apikey = stock_key

url = 'https://www.alphavantage.co/'

In [3]:
stock_data = []
       
dates = ['2018-03-01', '2018-03-08']    

for symbol in stock:
    for x in dates:
        query_url = requests.get(url + 'query?function=' + function + '&' + 'symbol=' + symbol + '&' + 'apikey=' + apikey).json()
        open_price = query_url['Time Series (Daily)'][x]['1. open']
        close_price = query_url['Time Series (Daily)'][x]['4. close']   
        low_day = query_url['Time Series (Daily)'][x]['3. low']   
        volume_day = query_url['Time Series (Daily)'][x]['5. volume']                                       
                                
                                         
        stock_data.append({'Stock':  symbol, 'Date' : x, 'Open Price' : open_price, 'Close_Price' : close_price, 'Low': low_day, 'Volume' : volume_day})
        data_final = pd.DataFrame(stock_data)

In [4]:
data_final

  Close_Price        Date       Low Open Price Stock   Volume
0     45.0700  2018-03-01   44.5800    45.9300    AA  6501728
1     47.4700  2018-03-08   46.5450    47.8800    AA  3105316
2    101.8100  2018-03-01  100.1900   100.9900  KALU   113758
3    104.7900  2018-03-08  102.0900   104.0300  KALU   130132
4     20.4800  2018-03-01   19.3000    20.1300  CENX  5696029
5     19.6600  2018-03-08   19.1200    21.4500  CENX  4743236
6     14.7200  2018-03-01   14.6100    14.9400   ACH    75722
7     14.7200  2018-03-08   14.5100    14.6700   ACH    64908
8     24.0200  2018-03-01   23.8300    24.4600  ARNC  3461488
9     24.8000  2018-03-08   24.3550    24.7500  ARNC  2163553