In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
import requests
import time
from config import stock_key

In [4]:
function = 'TIME_SERIES_DAILY'
symbol = ['AA','KALU','CENX', 'ACH', 'ARNC']
apikey = stock_key

url = 'https://www.alphavantage.co/'

In [6]:
date_final = []
       
start_date = pd.datetime(2018, 3 ,1)
end_date = pd.datetime(2018, 3, 31)
range_one = pd.bdate_range(start_date, end_date)
dates = (range_one.strftime('%Y-%m-%d')).tolist()
dates.remove('2018-03-30')

for stock in symbol:
    time.sleep(80)
    for x in dates:'5'
    query_url = requests.get(url + 'query?function=' + function + '&' + 'symbol=' + stock + '&' + 'apikey=' 
                    + apikey).json()
    date = query_url['Time Series (Daily)'][x]['4. close']
    
    date_final.append({'Stock':  stock, 'Date' : x, 'Close_Price' : date})
        
    pd.DataFrame(date_final)

In [4]:
query_url

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'ARNC',
  '3. Last Refreshed': '2018-04-11',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2017-11-15': {'1. open': '23.1000',
   '2. high': '23.6750',
   '3. low': '22.7400',
   '4. close': '23.3600',
   '5. volume': '3728103'},
  '2017-11-16': {'1. open': '23.4300',
   '2. high': '23.9100',
   '3. low': '23.4300',
   '4. close': '23.7300',
   '5. volume': '2216293'},
  '2017-11-17': {'1. open': '23.6500',
   '2. high': '24.0700',
   '3. low': '23.6000',
   '4. close': '23.8500',
   '5. volume': '1870887'},
  '2017-11-20': {'1. open': '23.8100',
   '2. high': '23.9100',
   '3. low': '23.6100',
   '4. close': '23.8900',
   '5. volume': '2010919'},
  '2017-11-21': {'1. open': '24.1200',
   '2. high': '24.2500',
   '3. low': '23.6300',
   '4. close': '23.7400',
   '5. volume': '2755825'},
  '2017-11-22': {'1. open': '23.7900',
   '2. high': '23.9900',
   '3. low': '23.7100',
   '4. close': '23.7500',
   '5. volume': '1673691'},
  '2017-11-24': {'1. open': '23.8500',
   '2. high': '24.1600',
   '3. low': '23.8400',
   '4. close': '23.9900',
   '5. volume': '1945418'},
  '2017-11-27': {'1. open': '23.9200',
   '2. high': '24.0000',
   '3. low': '23.0400',
   '4. close': '23.6100',
   '5. volume': '4575094'},
  '2017-11-28': {'1. open': '23.7100',
   '2. high': '24.3200',
   '3. low': '23.5800',
   '4. close': '24.2300',
   '5. volume': '3478377'},
  '2017-11-29': {'1. open': '24.2500',
   '2. high': '24.4650',
   '3. low': '24.0300',
   '4. close': '24.0700',
   '5. volume': '3236732'},
  '2017-11-30': {'1. open': '24.2100',
   '2. high': '24.6300',
   '3. low': '24.0000',
   '4. close': '24.6100',
   '5. volume': '3313166'},
  '2017-12-01': {'1. open': '24.6300',
   '2. high': '24.7800',
   '3. low': '24.0100',
   '4. close': '24.5000',
   '5. volume': '2637273'},
  '2017-12-04': {'1. open': '24.8700',
   '2. high': '25.2700',
   '3. low': '24.7000',
   '4. close': '24.7300',
   '5. volume': '4073948'},
  '2017-12-05': {'1. open': '24.7300',
   '2. high': '24.7300',
   '3. low': '24.1300',
   '4. close': '24.2300',
   '5. volume': '2378662'},
  '2017-12-06': {'1. open': '24.1800',
   '2. high': '24.3550',
   '3. low': '24.0100',
   '4. close': '24.1300',
   '5. volume': '5072646'},
  '2017-12-07': {'1. open': '24.0900',
   '2. high': '24.7350',
   '3. low': '23.9400',
   '4. close': '24.5900',
   '5. volume': '2143296'},
  '2017-12-08': {'1. open': '24.7000',
   '2. high': '24.7200',
   '3. low': '24.3400',
   '4. close': '24.4700',
   '5. volume': '1583330'},
  '2017-12-11': {'1. open': '24.4500',
   '2. high': '24.5600',
   '3. low': '24.1400',
   '4. close': '24.4300',
   '5. volume': '2543009'},
  '2017-12-12': {'1. open': '24.4400',
   '2. high': '24.6700',
   '3. low': '24.3500',
   '4. close': '24.6500',
   '5. volume': '2120419'},
  '2017-12-13': {'1. open': '24.6500',
   '2. high': '25.5400',
   '3. low': '24.6100',
   '4. close': '25.1800',
   '5. volume': '3897328'},
  '2017-12-14': {'1. open': '25.3000',
   '2. high': '25.3400',
   '3. low': '24.8500',
   '4. close': '24.9900',
   '5. volume': '3069054'},
  '2017-12-15': {'1. open': '25.2200',
   '2. high': '25.4000',
   '3. low': '25.0799',
   '4. close': '25.3000',
   '5. volume': '6381176'},
  '2017-12-18': {'1. open': '25.6200',
   '2. high': '25.7200',
   '3. low': '25.4600',
   '4. close': '25.6100',
   '5. volume': '2869165'},
  '2017-12-19': {'1. open': '25.5600',
   '2. high': '25.6700',
   '3. low': '25.1500',
   '4. close': '25.6300',
   '5. volume': '2574811'},
  '2017-12-20': {'1. open': '25.7400',
   '2. high': '26.2250',
   '3. low': '25.7000',
   '4. close': '26.1300',
   '5. volume': '3204501'},
  '2017-12-21': {'1. open': '26.3200',
   '2. high': '26.8200',
   '3. low': '26.0800',
   '4. close': '26.8000',
   '5. volume': '3249926'},
  '2017-12-22': {'1. open': '26.5500',
   '2. high': '26.9550',
   '3. low': '26.4200',
   '4. close': '26.8300',
   '5. volume': '2745979'},
  '2017-12-26': {'1. open': '26.8000',
   '2. high': '27.2400',
   '3. low': '26.7100',
   '4. close': '27.0700',
   '5. volume': '1987136'},
  '2017-12-27': {'1. open': '27.0700',
   '2. high': '27.3650',
   '3. low': '26.9600',
   '4. close': '27.3400',
   '5. volume': '1864145'},
  '2017-12-28': {'1. open': '27.3000',
   '2. high': '27.6500',
   '3. low': '27.2000',
   '4. close': '27.6200',
   '5. volume': '2379287'},
  '2017-12-29': {'1. open': '27.6200',
   '2. high': '27.6700',
   '3. low': '27.2300',
   '4. close': '27.2500',
   '5. volume': '2674898'},
  '2018-01-02': {'1. open': '27.3100',
   '2. high': '27.7700',
   '3. low': '27.3000',
   '4. close': '27.7600',
   '5. volume': '2926851'},
  '2018-01-03': {'1. open': '27.6100',
   '2. high': '28.0000',
   '3. low': '27.0000',
   '4. close': '27.9800',
   '5. volume': '5596285'},
  '2018-01-04': {'1. open': '28.2000',
   '2. high': '29.4500',
   '3. low': '28.0110',
   '4. close': '29.3200',
   '5. volume': '6540866'},
  '2018-01-05': {'1. open': '29.2500',
   '2. high': '29.6300',
   '3. low': '29.1000',
   '4. close': '29.6100',
   '5. volume': '3679564'},
  '2018-01-08': {'1. open': '29.6800',
   '2. high': '29.8400',
   '3. low': '29.4200',
   '4. close': '29.7600',
   '5. volume': '4158958'},
  '2018-01-09': {'1. open': '29.8000',
   '2. high': '29.9900',
   '3. low': '29.4500',
   '4. close': '29.8100',
   '5. volume': '2390043'},
  '2018-01-10': {'1. open': '29.5700',
   '2. high': '29.9300',
   '3. low': '29.4300',
   '4. close': '29.7900',
   '5. volume': '2071896'},
  '2018-01-11': {'1. open': '29.9100',
   '2. high': '30.4400',
   '3. low': '29.8610',
   '4. close': '30.4000',
   '5. volume': '3113204'},
  '2018-01-12': {'1. open': '30.5000',
   '2. high': '30.9000',
   '3. low': '30.3600',
   '4. close': '30.8400',
   '5. volume': '3440181'},
  '2018-01-16': {'1. open': '30.9200',
   '2. high': '31.1700',
   '3. low': '30.0900',
   '4. close': '30.4100',
   '5. volume': '4888913'},
  '2018-01-17': {'1. open': '30.4100',
   '2. high': '30.6900',
   '3. low': '30.3200',
   '4. close': '30.5400',
   '5. volume': '3222656'},
  '2018-01-18': {'1. open': '30.2300',
   '2. high': '30.5800',
   '3. low': '29.9600',
   '4. close': '30.3500',
   '5. volume': '3258440'},
  '2018-01-19': {'1. open': '30.3000',
   '2. high': '30.4500',
   '3. low': '29.8200',
   '4. close': '30.2200',
   '5. volume': '4532540'},
  '2018-01-22': {'1. open': '30.2200',
   '2. high': '30.4300',
   '3. low': '30.0400',
   '4. close': '30.4300',
   '5. volume': '3562819'},
  '2018-01-23': {'1. open': '30.4300',
   '2. high': '30.4300',
   '3. low': '30.1050',
   '4. close': '30.3000',
   '5. volume': '2247564'},
  '2018-01-24': {'1. open': '30.3400',
   '2. high': '30.6700',
   '3. low': '30.2500',
   '4. close': '30.4800',
   '5. volume': '2524558'},
  '2018-01-25': {'1. open': '30.6500',
   '2. high': '30.8000',
   '3. low': '30.1500',
   '4. close': '30.4700',
   '5. volume': '1960089'},
  '2018-01-26': {'1. open': '30.5600',
   '2. high': '30.8600',
   '3. low': '30.3300',
   '4. close': '30.8400',
   '5. volume': '2247117'},
  '2018-01-29': {'1. open': '30.8300',
   '2. high': '30.9100',
   '3. low': '30.1650',
   '4. close': '30.2600',
   '5. volume': '2424529'},
  '2018-01-30': {'1. open': '30.0200',
   '2. high': '30.1800',
   '3. low': '29.3800',
   '4. close': '29.9200',
   '5. volume': '4384874'},
  '2018-01-31': {'1. open': '30.0000',
   '2. high': '30.5100',
   '3. low': '29.7700',
   '4. close': '30.0600',
   '5. volume': '3384860'},
  '2018-02-01': {'1. open': '29.7500',
   '2. high': '30.3889',
   '3. low': '29.7200',
   '4. close': '30.1100',
   '5. volume': '2808421'},
  '2018-02-02': {'1. open': '29.7600',
   '2. high': '29.7600',
   '3. low': '28.8300',
   '4. close': '29.1100',
   '5. volume': '7601757'},
  '2018-02-05': {'1. open': '27.4000',
   '2. high': '27.7100',
   '3. low': '25.8400',
   '4. close': '26.5200',
   '5. volume': '10828813'},
  '2018-02-06': {'1. open': '26.1900',
   '2. high': '26.4000',
   '3. low': '25.0006',
   '4. close': '25.2800',
   '5. volume': '9969608'},
  '2018-02-07': {'1. open': '25.1000',
   '2. high': '25.4600',
   '3. low': '24.8700',
   '4. close': '25.1000',
   '5. volume': '5546356'},
  '2018-02-08': {'1. open': '25.1300',
   '2. high': '25.1900',
   '3. low': '24.1900',
   '4. close': '24.4500',
   '5. volume': '7444028'},
  '2018-02-09': {'1. open': '24.6500',
   '2. high': '24.9000',
   '3. low': '23.3200',
   '4. close': '24.6600',
   '5. volume': '8102602'},
  '2018-02-12': {'1. open': '24.8100',
   '2. high': '25.1800',
   '3. low': '24.5300',
   '4. close': '24.8400',
   '5. volume': '4935437'},
  '2018-02-13': {'1. open': '24.6100',
   '2. high': '24.8700',
   '3. low': '24.4650',
   '4. close': '24.7800',
   '5. volume': '5314966'},
  '2018-02-14': {'1. open': '24.5500',
   '2. high': '25.7000',
   '3. low': '24.5500',
   '4. close': '25.4800',
   '5. volume': '4538961'},
  '2018-02-15': {'1. open': '25.7400',
   '2. high': '25.7600',
   '3. low': '24.9100',
   '4. close': '25.2200',
   '5. volume': '4485553'},
  '2018-02-16': {'1. open': '25.1800',
   '2. high': '25.8700',
   '3. low': '25.0700',
   '4. close': '25.3600',
   '5. volume': '5351530'},
  '2018-02-20': {'1. open': '25.1000',
   '2. high': '25.4700',
   '3. low': '24.7550',
   '4. close': '24.8600',
   '5. volume': '3316260'},
  '2018-02-21': {'1. open': '24.9100',
   '2. high': '25.4100',
   '3. low': '24.6500',
   '4. close': '24.6600',
   '5. volume': '2627083'},
  '2018-02-22': {'1. open': '24.8300',
   '2. high': '24.9950',
   '3. low': '24.4350',
   '4. close': '24.5400',
   '5. volume': '2518215'},
  '2018-02-23': {'1. open': '24.5900',
   '2. high': '25.1400',
   '3. low': '24.5300',
   '4. close': '25.1300',
   '5. volume': '3621116'},
  '2018-02-26': {'1. open': '25.2200',
   '2. high': '25.2900',
   '3. low': '24.9950',
   '4. close': '25.1300',
   '5. volume': '2514935'},
  '2018-02-27': {'1. open': '25.1400',
   '2. high': '25.3400',
   '3. low': '24.7100',
   '4. close': '24.7400',
   '5. volume': '2726458'},
  '2018-02-28': {'1. open': '24.8200',
   '2. high': '25.0250',
   '3. low': '24.3900',
   '4. close': '24.3900',
   '5. volume': '5232188'},
  '2018-03-01': {'1. open': '24.4600',
   '2. high': '24.6600',
   '3. low': '23.8300',
   '4. close': '24.0200',
   '5. volume': '3461488'},
  '2018-03-02': {'1. open': '23.8400',
   '2. high': '24.1000',
   '3. low': '23.4000',
   '4. close': '23.9100',
   '5. volume': '2803108'},
  '2018-03-05': {'1. open': '23.7000',
   '2. high': '24.4350',
   '3. low': '23.6300',
   '4. close': '24.3300',
   '5. volume': '3767970'},
  '2018-03-06': {'1. open': '24.4500',
   '2. high': '24.7500',
   '3. low': '24.3800',
   '4. close': '24.5500',
   '5. volume': '3446351'},
  '2018-03-07': {'1. open': '24.2800',
   '2. high': '24.7300',
   '3. low': '24.2200',
   '4. close': '24.6200',
   '5. volume': '1969543'},
  '2018-03-08': {'1. open': '24.7500',
   '2. high': '24.8700',
   '3. low': '24.3550',
   '4. close': '24.8000',
   '5. volume': '2163553'},
  '2018-03-09': {'1. open': '24.9400',
   '2. high': '25.1900',
   '3. low': '24.7700',
   '4. close': '25.1900',
   '5. volume': '2314308'},
  '2018-03-12': {'1. open': '25.2200',
   '2. high': '25.2400',
   '3. low': '24.7200',
   '4. close': '24.9300',
   '5. volume': '3100840'},
  '2018-03-13': {'1. open': '25.0500',
   '2. high': '25.2200',
   '3. low': '24.8400',
   '4. close': '24.9500',
   '5. volume': '3134295'},
  '2018-03-14': {'1. open': '25.0100',
   '2. high': '25.1000',
   '3. low': '23.8899',
   '4. close': '24.0600',
   '5. volume': '4987702'},
  '2018-03-15': {'1. open': '24.1300',
   '2. high': '24.3200',
   '3. low': '23.8500',
   '4. close': '24.2400',
   '5. volume': '3794332'},
  '2018-03-16': {'1. open': '24.3300',
   '2. high': '24.6800',
   '3. low': '24.1100',
   '4. close': '24.5600',
   '5. volume': '5289074'},
  '2018-03-19': {'1. open': '24.4700',
   '2. high': '24.5460',
   '3. low': '23.8000',
   '4. close': '24.0300',
   '5. volume': '3487422'},
  '2018-03-20': {'1. open': '24.0700',
   '2. high': '24.2500',
   '3. low': '23.8200',
   '4. close': '24.0900',
   '5. volume': '4621905'},
  '2018-03-21': {'1. open': '24.0900',
   '2. high': '24.5500',
   '3. low': '23.9500',
   '4. close': '24.1600',
   '5. volume': '2047153'},
  '2018-03-22': {'1. open': '23.9200',
   '2. high': '23.9800',
   '3. low': '22.6550',
   '4. close': '22.6800',
   '5. volume': '4485345'},
  '2018-03-23': {'1. open': '22.9100',
   '2. high': '23.2300',
   '3. low': '22.5700',
   '4. close': '22.7500',
   '5. volume': '4188651'},
  '2018-03-26': {'1. open': '23.1000',
   '2. high': '23.3900',
   '3. low': '22.8100',
   '4. close': '23.3800',
   '5. volume': '3020260'},
  '2018-03-27': {'1. open': '23.5000',
   '2. high': '23.5200',
   '3. low': '22.9200',
   '4. close': '23.0500',
   '5. volume': '3501442'},
  '2018-03-28': {'1. open': '23.1100',
   '2. high': '23.3050',
   '3. low': '22.5840',
   '4. close': '22.7000',
   '5. volume': '2236778'},
  '2018-03-29': {'1. open': '22.7500',
   '2. high': '23.2400',
   '3. low': '22.6250',
   '4. close': '23.0400',
   '5. volume': '2449165'},
  '2018-04-02': {'1. open': '22.9400',
   '2. high': '23.0200',
   '3. low': '21.9800',
   '4. close': '22.0800',
   '5. volume': '4564268'},
  '2018-04-03': {'1. open': '22.1800',
   '2. high': '22.4100',
   '3. low': '21.9850',
   '4. close': '22.3500',
   '5. volume': '5259292'},
  '2018-04-04': {'1. open': '21.9300',
   '2. high': '22.6400',
   '3. low': '21.8500',
   '4. close': '22.6300',
   '5. volume': '2689969'},
  '2018-04-05': {'1. open': '22.8200',
   '2. high': '23.2150',
   '3. low': '22.8000',
   '4. close': '23.0800',
   '5. volume': '3333610'},
  '2018-04-06': {'1. open': '22.8400',
   '2. high': '22.9900',
   '3. low': '22.3000',
   '4. close': '22.5400',
   '5. volume': '3439316'},
  '2018-04-09': {'1. open': '22.8200',
   '2. high': '23.2600',
   '3. low': '22.6850',
   '4. close': '22.7700',
   '5. volume': '3407621'},
  '2018-04-10': {'1. open': '23.1100',
   '2. high': '23.2900',
   '3. low': '22.9000',
   '4. close': '23.0300',
   '5. volume': '2498556'},
  '2018-04-11': {'1. open': '22.8300',
   '2. high': '23.1700',
   '3. low': '22.8000',
   '4. close': '22.9600',
   '5. volume': '1536445'}}}

In [5]:
date_final

[{'Close_Price': '45.0700', 'Date': '2018-03-01', 'Stock': 'AA'},
 {'Close_Price': '45.5400', 'Date': '2018-03-02', 'Stock': 'AA'},
 {'Close_Price': '45.6500', 'Date': '2018-03-05', 'Stock': 'AA'},
 {'Close_Price': '46.9900', 'Date': '2018-03-06', 'Stock': 'AA'},
 {'Close_Price': '47.8800', 'Date': '2018-03-07', 'Stock': 'AA'},
 {'Close_Price': '47.4700', 'Date': '2018-03-08', 'Stock': 'AA'},
 {'Close_Price': '47.8600', 'Date': '2018-03-09', 'Stock': 'AA'},
 {'Close_Price': '48.3600', 'Date': '2018-03-12', 'Stock': 'AA'},
 {'Close_Price': '48.5900', 'Date': '2018-03-13', 'Stock': 'AA'},
 {'Close_Price': '46.5700', 'Date': '2018-03-14', 'Stock': 'AA'},
 {'Close_Price': '46.9300', 'Date': '2018-03-15', 'Stock': 'AA'},
 {'Close_Price': '47.2300', 'Date': '2018-03-16', 'Stock': 'AA'},
 {'Close_Price': '46.3600', 'Date': '2018-03-19', 'Stock': 'AA'},
 {'Close_Price': '46.4700', 'Date': '2018-03-20', 'Stock': 'AA'},
 {'Close_Price': '47.9500', 'Date': '2018-03-21', 'Stock': 'AA'},
 {'Close_Price': '44.9200', 'Date': '2018-03-22', 'Stock': 'AA'},
 {'Close_Price': '44.7100', 'Date': '2018-03-23', 'Stock': 'AA'},
 {'Close_Price': '45.7700', 'Date': '2018-03-26', 'Stock': 'AA'},
 {'Close_Price': '44.9000', 'Date': '2018-03-27', 'Stock': 'AA'},
 {'Close_Price': '44.4200', 'Date': '2018-03-28', 'Stock': 'AA'},
 {'Close_Price': '44.9600', 'Date': '2018-03-29', 'Stock': 'AA'},
 {'Close_Price': '101.8100', 'Date': '2018-03-01', 'Stock': 'KALU'},
 {'Close_Price': '100.9500', 'Date': '2018-03-02', 'Stock': 'KALU'},
 {'Close_Price': '101.6600', 'Date': '2018-03-05', 'Stock': 'KALU'},
 {'Close_Price': '104.3900', 'Date': '2018-03-06', 'Stock': 'KALU'},
 {'Close_Price': '104.3400', 'Date': '2018-03-07', 'Stock': 'KALU'},
 {'Close_Price': '104.7900', 'Date': '2018-03-08', 'Stock': 'KALU'},
 {'Close_Price': '107.1100', 'Date': '2018-03-09', 'Stock': 'KALU'},
 {'Close_Price': '106.9400', 'Date': '2018-03-12', 'Stock': 'KALU'},
 {'Close_Price': '107.2500', 'Date': '2018-03-13', 'Stock': 'KALU'},
 {'Close_Price': '105.1900', 'Date': '2018-03-14', 'Stock': 'KALU'},
 {'Close_Price': '103.3300', 'Date': '2018-03-15', 'Stock': 'KALU'},
 {'Close_Price': '105.7900', 'Date': '2018-03-16', 'Stock': 'KALU'},
 {'Close_Price': '105.4900', 'Date': '2018-03-19', 'Stock': 'KALU'},
 {'Close_Price': '103.5000', 'Date': '2018-03-20', 'Stock': 'KALU'},
 {'Close_Price': '104.6800', 'Date': '2018-03-21', 'Stock': 'KALU'},
 {'Close_Price': '101.7800', 'Date': '2018-03-22', 'Stock': 'KALU'},
 {'Close_Price': '99.8000', 'Date': '2018-03-23', 'Stock': 'KALU'},
 {'Close_Price': '101.0800', 'Date': '2018-03-26', 'Stock': 'KALU'},
 {'Close_Price': '99.4700', 'Date': '2018-03-27', 'Stock': 'KALU'},
 {'Close_Price': '99.0500', 'Date': '2018-03-28', 'Stock': 'KALU'},
 {'Close_Price': '100.9000', 'Date': '2018-03-29', 'Stock': 'KALU'},
 {'Close_Price': '20.4800', 'Date': '2018-03-01', 'Stock': 'CENX'},
 {'Close_Price': '20.9400', 'Date': '2018-03-02', 'Stock': 'CENX'},
 {'Close_Price': '19.9800', 'Date': '2018-03-05', 'Stock': 'CENX'},
 {'Close_Price': '20.4500', 'Date': '2018-03-06', 'Stock': 'CENX'},
 {'Close_Price': '21.2500', 'Date': '2018-03-07', 'Stock': 'CENX'},
 {'Close_Price': '19.6600', 'Date': '2018-03-08', 'Stock': 'CENX'},
 {'Close_Price': '20.1500', 'Date': '2018-03-09', 'Stock': 'CENX'},
 {'Close_Price': '20.8100', 'Date': '2018-03-12', 'Stock': 'CENX'},
 {'Close_Price': '21.5800', 'Date': '2018-03-13', 'Stock': 'CENX'},
 {'Close_Price': '20.4500', 'Date': '2018-03-14', 'Stock': 'CENX'},
 {'Close_Price': '20.5600', 'Date': '2018-03-15', 'Stock': 'CENX'},
 {'Close_Price': '20.8300', 'Date': '2018-03-16', 'Stock': 'CENX'},
 {'Close_Price': '19.9500', 'Date': '2018-03-19', 'Stock': 'CENX'},
 {'Close_Price': '19.8100', 'Date': '2018-03-20', 'Stock': 'CENX'},
 {'Close_Price': '20.4000', 'Date': '2018-03-21', 'Stock': 'CENX'},
 {'Close_Price': '16.7600', 'Date': '2018-03-22', 'Stock': 'CENX'},
 {'Close_Price': '16.6650', 'Date': '2018-03-23', 'Stock': 'CENX'},
 {'Close_Price': '17.3050', 'Date': '2018-03-26', 'Stock': 'CENX'},
 {'Close_Price': '16.2200', 'Date': '2018-03-27', 'Stock': 'CENX'},
 {'Close_Price': '16.2000', 'Date': '2018-03-28', 'Stock': 'CENX'},
 {'Close_Price': '16.5400', 'Date': '2018-03-29', 'Stock': 'CENX'},
 {'Close_Price': '14.7200', 'Date': '2018-03-01', 'Stock': 'ACH'},
 {'Close_Price': '14.5900', 'Date': '2018-03-02', 'Stock': 'ACH'},
 {'Close_Price': '14.6600', 'Date': '2018-03-05', 'Stock': 'ACH'},
 {'Close_Price': '14.9900', 'Date': '2018-03-06', 'Stock': 'ACH'},
 {'Close_Price': '14.6900', 'Date': '2018-03-07', 'Stock': 'ACH'},
 {'Close_Price': '14.7200', 'Date': '2018-03-08', 'Stock': 'ACH'},
 {'Close_Price': '14.9400', 'Date': '2018-03-09', 'Stock': 'ACH'},
 {'Close_Price': '14.6300', 'Date': '2018-03-12', 'Stock': 'ACH'},
 {'Close_Price': '14.5100', 'Date': '2018-03-13', 'Stock': 'ACH'},
 {'Close_Price': '14.4600', 'Date': '2018-03-14', 'Stock': 'ACH'},
 {'Close_Price': '14.5600', 'Date': '2018-03-15', 'Stock': 'ACH'},
 {'Close_Price': '14.4300', 'Date': '2018-03-16', 'Stock': 'ACH'},
 {'Close_Price': '14.2000', 'Date': '2018-03-19', 'Stock': 'ACH'},
 {'Close_Price': '13.8000', 'Date': '2018-03-20', 'Stock': 'ACH'},
 {'Close_Price': '13.7800', 'Date': '2018-03-21', 'Stock': 'ACH'},
 {'Close_Price': '13.1500', 'Date': '2018-03-22', 'Stock': 'ACH'},
 {'Close_Price': '13.0500', 'Date': '2018-03-23', 'Stock': 'ACH'},
 {'Close_Price': '13.6400', 'Date': '2018-03-26', 'Stock': 'ACH'},
 {'Close_Price': '13.3700', 'Date': '2018-03-27', 'Stock': 'ACH'},
 {'Close_Price': '13.4400', 'Date': '2018-03-28', 'Stock': 'ACH'},
 {'Close_Price': '13.9200', 'Date': '2018-03-29', 'Stock': 'ACH'},
 {'Close_Price': '24.0200', 'Date': '2018-03-01', 'Stock': 'ARNC'},
 {'Close_Price': '23.9100', 'Date': '2018-03-02', 'Stock': 'ARNC'},
 {'Close_Price': '24.3300', 'Date': '2018-03-05', 'Stock': 'ARNC'},
 {'Close_Price': '24.5500', 'Date': '2018-03-06', 'Stock': 'ARNC'},
 {'Close_Price': '24.6200', 'Date': '2018-03-07', 'Stock': 'ARNC'},
 {'Close_Price': '24.8000', 'Date': '2018-03-08', 'Stock': 'ARNC'},
 {'Close_Price': '25.1900', 'Date': '2018-03-09', 'Stock': 'ARNC'},
 {'Close_Price': '24.9300', 'Date': '2018-03-12', 'Stock': 'ARNC'},
 {'Close_Price': '24.9500', 'Date': '2018-03-13', 'Stock': 'ARNC'},
 {'Close_Price': '24.0600', 'Date': '2018-03-14', 'Stock': 'ARNC'},
 {'Close_Price': '24.2400', 'Date': '2018-03-15', 'Stock': 'ARNC'},
 {'Close_Price': '24.5600', 'Date': '2018-03-16', 'Stock': 'ARNC'},
 {'Close_Price': '24.0300', 'Date': '2018-03-19', 'Stock': 'ARNC'},
 {'Close_Price': '24.0900', 'Date': '2018-03-20', 'Stock': 'ARNC'},
 {'Close_Price': '24.1600', 'Date': '2018-03-21', 'Stock': 'ARNC'},
 {'Close_Price': '22.6800', 'Date': '2018-03-22', 'Stock': 'ARNC'},
 {'Close_Price': '22.7500', 'Date': '2018-03-23', 'Stock': 'ARNC'},
 {'Close_Price': '23.3800', 'Date': '2018-03-26', 'Stock': 'ARNC'},
 {'Close_Price': '23.0500', 'Date': '2018-03-27', 'Stock': 'ARNC'},
 {'Close_Price': '22.7000', 'Date': '2018-03-28', 'Stock': 'ARNC'},
 {'Close_Price': '23.0400', 'Date': '2018-03-29', 'Stock': 'ARNC'}]

In [6]:
pd.DataFrame(date_final)

    Close_Price        Date Stock
0       45.0700  2018-03-01    AA
1       45.5400  2018-03-02    AA
2       45.6500  2018-03-05    AA
3       46.9900  2018-03-06    AA
4       47.8800  2018-03-07    AA
5       47.4700  2018-03-08    AA
6       47.8600  2018-03-09    AA
7       48.3600  2018-03-12    AA
8       48.5900  2018-03-13    AA
9       46.5700  2018-03-14    AA
10      46.9300  2018-03-15    AA
11      47.2300  2018-03-16    AA
12      46.3600  2018-03-19    AA
13      46.4700  2018-03-20    AA
14      47.9500  2018-03-21    AA
15      44.9200  2018-03-22    AA
16      44.7100  2018-03-23    AA
17      45.7700  2018-03-26    AA
18      44.9000  2018-03-27    AA
19      44.4200  2018-03-28    AA
20      44.9600  2018-03-29    AA
21     101.8100  2018-03-01  KALU
22     100.9500  2018-03-02  KALU
23     101.6600  2018-03-05  KALU
24     104.3900  2018-03-06  KALU
25     104.3400  2018-03-07  KALU
26     104.7900  2018-03-08  KALU
27     107.1100  2018-03-09  KALU
28     106.9400  2018-03-12  KALU
29     107.2500  2018-03-13  KALU
..          ...         ...   ...
75      14.2000  2018-03-19   ACH
76      13.8000  2018-03-20   ACH
77      13.7800  2018-03-21   ACH
78      13.1500  2018-03-22   ACH
79      13.0500  2018-03-23   ACH
80      13.6400  2018-03-26   ACH
81      13.3700  2018-03-27   ACH
82      13.4400  2018-03-28   ACH
83      13.9200  2018-03-29   ACH
84      24.0200  2018-03-01  ARNC
85      23.9100  2018-03-02  ARNC
86      24.3300  2018-03-05  ARNC
87      24.5500  2018-03-06  ARNC
88      24.6200  2018-03-07  ARNC
89      24.8000  2018-03-08  ARNC
90      25.1900  2018-03-09  ARNC
91      24.9300  2018-03-12  ARNC
92      24.9500  2018-03-13  ARNC
93      24.0600  2018-03-14  ARNC
94      24.2400  2018-03-15  ARNC
95      24.5600  2018-03-16  ARNC
96      24.0300  2018-03-19  ARNC
97      24.0900  2018-03-20  ARNC
98      24.1600  2018-03-21  ARNC
99      22.6800  2018-03-22  ARNC
100     22.7500  2018-03-23  ARNC
101     23.3800  2018-03-26  ARNC
102     23.0500  2018-03-27  ARNC
103     22.7000  2018-03-28  ARNC
104     23.0400  2018-03-29  ARNC

[105 rows x 3 columns]

In [10]:
date_final

[{'Close_Price': '66.9000', 'Date': '2018-03-29', 'Stock': 'A'},
 {'Close_Price': '66.9000', 'Date': '2018-03-29', 'Stock': 'A'}]

In [8]:
pd.DataFrame(date_final)

  Close_Price        Date Stock
0     66.9000  2018-03-29     A
1     66.9000  2018-03-29     A